<div id="inbox-page">
    <h1 class="page-header">Inbox</h1>
    <div class="table-responsive">
        <h2 class="sub-header">Received</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sender</th>
                <th>Title</th>
                <th>Date</th>
                <th>Attachment</th>
                <th>Starred</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="message in receivedMessages"
                ng-click = "toggleMessage('received', $index)">
                <td>{{message.sender}}</td>
                <td>{{message.title}}</td>
                <td>{{message.date}}</td>
                <td>{{message.attachment}}</td>
                <td ng-click = "toggleStar($event, 'received', $index)">{{message.isStarred}}</td>
            </tr>
            <tr ng-repeat-end>
                <td colspan="5" ng-show = "message.isOpen">{{message.body}}</td>
            </tr>
            </tbody>
        </table>

        <h2 class="sub-header">Sent</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Receiver</th>
                <th>Title</th>
                <th>Date</th>
                <th>Attachment</th>
                <th>Starred</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="message in sentMessages"
                ng-click = "toggleMessage('sent', $index)">
                <td>{{message.receiver}}</td>
                <td>{{message.title}}</td>
                <td>{{message.date}}</td>
                <td>{{message.attachment}}</td>
                <td ng-click = "toggleStar($event, 'sent', $index)">{{message.isStarred}}</td>
            </tr>
            <tr ng-repeat-end>
                <td colspan="5" ng-show = "message.isOpen">{{message.body}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>