<h1 class="page-header">Add new friend</h1>
<form ng-submit="addNewProfile()">
    <div class="form-group">
        <label for="full-name">Full Name</label>
        <input ng-model="newProfile.fullName" type="text" class="form-control" id="full-name" placeholder="Jane Smith">
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" ng-model="newProfile.shortTitle" class="form-control" id="title" placeholder="Programmer">
    </div>
    <div class="form-group">
        <label for="status">Describe yourself</label>
        <input type="text" ng-model="newProfile.status" class="form-control" id="status" placeholder="Curious">
    </div>
    <div class="form-group">
        <label for="image">Image url</label>
        <input type="text" ng-model="newProfile.pictureUrl" class="form-control" id="image" placeholder="https://avatars2.example.com/yourAvatarId">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>